<!DOCTYPE html>
<html lang="">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Profile</title>
    <!-- Bootstrap CSS -->
    <link href="{%static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{%static 'css/common.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/usersView/viewUser.css'%}">
</head>

<body>
    <section>
        <!-- NavBar -->
        <nav id="menu" class="menu">
            <header class="menu-header">
                <span class="menu-header-title">FitWhiz</span>
            </header>
            <section class="menu-section">
                <ul class="menu-section-list">
                    <li><a href="/usersView/viewDashBoard">Dashboard</a></li>
                </ul>
            </section>
            <section class="menu-section">
                <h3 class="menu-section-title">User</h3>
                <ul class="menu-section-list">
                    <li><a href="/usersView/viewProfile?email={{users.email}}">View Profile</a></li>
                    <li><a href="/usersView/editProfile?email={{users.email}}">Edit Profile</a></li>
                </ul>
            </section>
            <section class="menu-section">
                <ul class="menu-section-list">
                    <li><a href="/usersView/logout">Logout</a></li>
                </ul>
            </section>
        </nav>
    </section>
    <!-- End NavBar -->
    <!-- Content -->
    <section id="content" class="panel">
        <!-- Header -->
        <header id="header">
            <button id="navbar-toggle" class="js-slideout-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
        </header>
        <!-- End Header -->
        <!-- Edit Profile Form -->
        <br>
        <div class="container">
            <br>
            <h1 class="lightGreen"><center>Edit Profile</center></h1>
            <form method="POST" action="" class="form-horizontal" role="form">
                <legend></legend>
                <div class="container">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="FirstName" class="col-xs-3 col-sm-3">First Name</label>
                        <input type="text" class="col-xs-8 col-sm-6" name="FirstName" id="fname" class="form-control" value="{{users.first_name}}" title="First Name" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="LastName" class="col-xs-3 col-sm-3">Last Name</label>
                        <input type="text" class="col-xs-8 col-sm-6" name="LastName" id="lname" class="form-control" value="{{users.last_name}}" title="Last Name" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-xs-3 col-sm-3">Email</label>
                        <input type="email" class="col-xs-8 col-sm-6" name="email" id="email" class="form-control" value="{{users.email}}" required="required" title="Email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="dob" class="col-xs-3 col-sm-3">D.O.B</label>
                        <input type="date" class="col-xs-8 col-sm-6" name="dob" id="dob" class="form-control" value="{{users.dob}}" title="Date of Birth" min="2013-01-01" max="2014-12-31" placeholder="mm/dd/yyyy" required>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-xs-3 col-sm-3">Address</label>
                        <textarea rows="4" class="col-xs-8 col-sm-6" name="address" id="address" class="form-control" value="{{users.address}}" title="Address" placeholder="Address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="gender" class="col-xs-3 col-sm-3">Gender</label>
                        <input type="radio" name="gender" value="Male">&nbsp;Male&nbsp;
                        <input type="radio" name="gender" value="Female">&nbsp;Female&nbsp;
                        <input type="radio" name="gender" value="Other">&nbsp;Other
                    </div>
                    <div class="form-group">
                        <label for="inputMaritalStatus" class="col-xs-3 col-sm-3">Marital Status</label>
                        <input type="radio" name="inputMaritalStatus" value="Single">&nbsp;Single&nbsp;
                        <input type="radio" name="inputMaritalStatus" value="Married">&nbsp;Married&nbsp;
                    </div>
                    <div class="form-group">
                        <label for="inputHeight" class="col-xs-3 col-sm-3">Height</label>
                        <input type="number" name="inputHeight" value="{{users.height}}" placeholder="00">&nbsp;inches&nbsp;
                    </div>
                    <div class="form-group">
                        <label for="inputWeight" class="col-xs-3 col-sm-3">Weight</label>
                        <input type="number" name="inputWeight" value="{{users.weight}}" placeholder="000">&nbsp;lb&nbsp;
                    </div>
                    <div class="form-group">
                        <label for="inputBloodType" class="col-xs-3 col-sm-3">Blood Group</label>
                        <select name="inputBloodType">
                            <option value="A-">A-</option>
                            <option value="A+">A+</option>
                            <option value="B-">B-</option>
                            <option value="B+">B+</option>
                            <option value="AB-">AB-</option>
                            <option value="AB+">AB+</option>
                            <option value="O-">O-</option>
                            <option value="O+">O+</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone" class="col-xs-3 col-sm-3">Phone</label>
                        <input type="tel" class="col-xs-8 col-sm-6" name="inputPhone" id="inputPhone" class="form-control" value="{{users.phone_number}}" title="phone" placeholder="(000) 000-0000" pattern="^(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}$" maxlength="14">
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Update" class="btn btn-lg btn-dark">
                    </div>
                </div>
                <br>
            </form>
        </div>
        <!-- End Edit Profile Form -->
    </section>
    <!-- End Content -->
    <!-- jQuery -->
    <script src="{%static 'js/jquery-2.1.1.min.js'%}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <!-- Slideout.js -->
    <script src="{%static 'js/slideout.min.js'%}"></script>
    <!-- Custom Initialization Script -->
    <script src="{%static 'js/init.js'%}"></script>
</body>

</html>
