<!DOCTYPE html>
<html lang="">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sensor History</title>
    <!-- Bootstrap CSS -->
    <link href="{%static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Date Picker -->
    <link rel="stylesheet" type="text/css" href="{%static 'css/pikaday.min.css'%}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{%static 'css/common.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/usersView/sensorHistory.css'%}">
</head>

<body>
    <section>
        <!-- NavBar -->
        <nav id="menu" class="menu">
            <header class="menu-header">
                <span class="menu-header-title">FitWhiz</span>
            </header>
            <section class="menu-section">
                <ul class="menu-section-list">
                    <li><a href="/usersView/viewDashBoard">Dashboard</a></li>
                </ul>
            </section>
            <section class="menu-section">
                <h3 class="menu-section-title">User</h3>
                <ul class="menu-section-list">
                    <li><a href="/usersView/viewProfile?email={{user.email}}">View Profile</a></li>
                    <li><a href="/usersView/editProfile?email={{user.email}}">Edit Profile</a></li>
                </ul>
            </section>
            <section class="menu-section">
                <h3 class="menu-section-title">Sensor</h3>
                <ul class="menu-section-list">
                    <li><a href="/usersView/sensorHistory?email={{user.email}}" class="active">History</a></li>
                </ul>
            </section>
            <section class="menu-section">
                <ul class="menu-section-list">
                    <li><a href="/usersView/logout">Logout</a></li>
                </ul>
            </section>
        </nav>
    </section>
    <!-- End NavBar -->
    <!-- Content -->
    <section id="content" class="panel">
        <!-- Header -->
        <header id="header">
            <button id="navbar-toggle" class="js-slideout-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
        </header>
        <!-- End Header -->
        <!-- Content -->
        <br>
        <div class="container">
            <br>
            <input type="hidden" id="userEmail" value="{{user.email}}">
            <h1 class="lightGreen"><center>Sensor History</center></h1>
            <hr>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th id="datepicker"></th>
                        <th>Humidity</th>
                        <th>Temperature</th>
                    </tr>
                </thead>
                <tr>
                    <td>5:00 PM</td>
                    <td>35</td>
                    <td>35</td>
                </tr>
            </table>
        </div>
        <!-- End Content -->
    </section>
    <!-- End Content -->
    <!-- jQuery -->
    <script src="{%static 'js/jquery-2.1.1.min.js'%}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <!-- Slideout.js -->
    <script src="{%static 'js/slideout.min.js'%}"></script>
    <!-- Pick a Day JavaScript -->
    <script src="{%static 'js/pikaday.js'%}"></script>
    <script src="{%static 'js/pikaday.jquery.js'%}"></script>
    <!-- Custom Initialization Script -->
    <script src="{%static 'js/init.js'%}"></script>
    <script>
    var today = new Date();
    var yesterday = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 1);
    $('#datepicker').text(yesterday.toISOString().slice(0, 10));
    var picker = new Pikaday({
        maxDate: yesterday,
        field: $('#datepicker')[0],
        onSelect: function(date) {
            $('#datepicker').text(date.toISOString().slice(0, 10));
            $.getJSON('/usersView/loadSensorHistory?email={{user.email}}&date=' + date.toISOString().slice(0, 10), function(data) {
                var jsonRes = JSON.parse(data);
                // To-Do
            });

        }
    });
    </script>
</body>

</html>
