<!DOCTYPE html>
<html lang="">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Profile</title>
    <!-- Bootstrap CSS -->
    <link href="{%static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{%static 'css/common.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/usersView/viewUser.css'%}">
    <script src="http://use.edgefonts.net/source-sans-pro.js"></script>
</head>

<body>
    <section>
        <!-- NavBar -->
        <nav id="menu" class="menu">
            <header class="menu-header">
                <span class="menu-header-title">FitWhiz</span>
            </header>
            <section class="menu-section">
                <ul class="menu-section-list">
                    <li><a href="/usersView/viewDashBoard">Dashboard</a></li>
                </ul>
            </section>
            <section class="menu-section">
                <h3 class="menu-section-title">User</h3>
                <ul class="menu-section-list">
                    <li><a href="/usersView/viewProfile?email={{user.email}}" class="active">View Profile</a></li>
                    <li><a href="/usersView/editProfile?email={{user.email}}">Edit Profile</a></li>
                </ul>
            </section>
            <section class="menu-section">
                <h3 class="menu-section-title">Sensor</h3>
                <ul class="menu-section-list">
                    <li><a href="/usersView/sensorHistory?email={{user.email}}">History</a></li>
                </ul>
            </section>
            <section class="menu-section">
                <ul class="menu-section-list">
                    <li><a href="/usersView/logout">Logout</a></li>
                </ul>
            </section>
        </nav>
    </section>
    <!-- End NavBar -->
    <!-- Content -->
    <section id="content" class="panel">
        <!-- Header -->
        <header id="header">
            <button id="navbar-toggle" class="js-slideout-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
        </header>
        <!-- End Header -->
        <!-- Registration Form -->
        <br>
        <div class="container">
            <br>
            <h1 class="lightGreen"><center>View Profile</center></h1>
            <hr>
            <div class="container">
                {% csrf_token %}
                <p class="text-group">
                    <label class="col-xs-3 col-sm-3">First Name</label>
                    <text>{{user.first_name}}</text>
                </p>
                <p class="text-group">
                    <label class="col-xs-3 col-sm-3">Last Name</label>
                    <text>{{user.last_name}}</text>
                </p>
                <p class="text-group">
                    <label class="col-xs-3 col-sm-3">Email</label>
                    <text>{{user.email}}</text>
                </p>
                <p class="text-group">
                    <label class="col-xs-3 col-sm-3">D.O.B</label>
                    <text>{{user.dob}}</text>
                </p>
                <p class="text-group">
                    <label class="col-xs-3 col-sm-3">Address</label>
                    <text>{{user.address}}</text>
                </p>
                <p class="text-group">
                    <label class="col-xs-3 col-sm-3">Gender</label>
                    <text>{{user.gender}}</text>
                </p>
                <p class="text-group">
                    <label class="col-xs-3 col-sm-3">Marital Status</label>
                    <text>{{user.marital_status}}</text>
                </p>
                <p class="text-group">
                    <label class="col-xs-3 col-sm-3">Height</label>
                    <text>{{user.height}}</text>
                </p>
                <p class="text-group">
                    <label class="col-xs-3 col-sm-3">Weight</label>
                    <text>{{user.weight}}</text>
                </p>
                <p class="text-group">
                    <label class="col-xs-3 col-sm-3">Blood Group</label>
                    <text>{{user.blood_type}}</text>
                </p>
                <p class="text-group">
                    <label class="col-xs-3 col-sm-3">Phone</label>
                    <text>{{user.phone_number}}</text>
                </p>
            </div>
            <br>
        </div>
        <!-- End Registration Form -->
    </section>
    <a href="#" class="back-to-top" title="Back to Top"><i class="glyphicon glyphicon-circle-arrow-up"></i></a>
    <!-- End Content -->
    <!-- jQuery -->
    <script src="{%static 'js/jquery-2.1.1.min.js'%}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <!-- Slideout.js -->
    <script src="{%static 'js/slideout.min.js'%}"></script>
    <!-- Custom Initialization Script -->
    <script src="{%static 'js/init.js'%}"></script>
</body>

</html>
