html,
body {
    width: 100%;
    height: 100%;
    background-color: #FEFEFE;
}

.lightBackground {
    background-color: rgba(0, 150, 100, 1);
}

.darkBackground {
    background-color: rgba(0, 80, 50, 1);
}

.lightGreen {
    color: rgba(0, 150, 100, 1);
}

.darkGreen {
    color: rgba(0, 80, 50, 1);
}
/* Header */

.panel {
    background-color: #fff;
}

.menu {
    background-color: #1D1F20;
    background-image: linear-gradient(145deg, #1D1F20, #404348);
}

a {
    color: #4B5;
    text-decoration: none;
}

.menu a {
    color: #fff;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-header {
    border-bottom: 1px solid #2a2d2f;
    padding: 20px 0 20px 20px;
    background-color: #1D1F20;
}

.menu-header-title {
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    font-size: 1.5em;
    color: rgba(0, 150, 100, 1);
}

.menu-section {
    margin: 25px 0;
}

.menu-section-title {
    text-transform: uppercase;
    color: #85888d;
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0 20px;
    margin: 0;
}

.menu-section-list {
    padding: 0;
    margin: 10px 10px;
    list-style: none;
}

.menu-section-list a {
    display: block;
    padding: 10px 20px;
}

.menu-section-list a:hover,
.menu-section-list a.active {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

.panel {
    padding-top: 5px;
    min-height: 100%;
}

.panel-header {
    margin: 85px auto 55px;
}

@media (max-width: 768px) {
    #header,
    #menuBar {
        padding-top: 4px;
        padding-right: 4px;
    }
}
/* Searchbar */

#menuBar {
    text-align: right;
    /*padding-right: 10px;*/
}

input[type=text]:focus,
textarea:focus {
    box-shadow: 0 0 3px rgba(0, 150, 100, 1);
}

.input-group .form-control {
    width: auto;
    float: right;
}
/* Slideout.js */

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 192px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-menu-visible {
    z-index: 2;
    display: block;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    padding-right: 10px;
    padding-left: 10px;
}

.slideout-panel-width {
    width: -moz-calc(100% - 192px);
    width: -webkit-calc(100% - 192px);
    width: calc(100% - 192px);
    left: 192px;
}
/*.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}
*/

.slideout-open .slideout-menu {
    display: block;
}
/* NavBar Toggle Button */

#navbar-toggle {
    border-radius: 0;
    border: 0;
    color: rgba(0, 150, 100, 1);
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.0);
    position: fixed;
    z-index: 1000;
    padding-left: 10px;
}
/* Custom Button Styles */

.btn-dark {
    border-radius: 5px;
    border: 5;
    font-size: 1.2em;
    color: rgba(0, 150, 100, 1);
    border-color: rgba(0, 150, 100, 1);
    background-color: rgba(0, 150, 100, 0);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0, 150, 100, 1);
}

.btn-light {
    border-radius: 0;
    border: 0;
    color: grey;
    background-color: rgb(255, 255, 255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}
/* Footer */

footer {
    color: #000;
    background-color: #EEE;
    padding-top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    z-index: 1000;
}

footer a {
    color: #FFF;
}

footer a:hover {
    color: #efefef;
    text-decoration: none !important;
}
