html,
body {
    width: 100%;
    height: 100%;
    background-color: #FEFEFE;
    font-family: source-sans-pro, sans-serif;
}

.lightBackground {
    background-color: rgba(0, 150, 100, 1);
}

.darkBackground {
    background-color: rgba(0, 80, 50, 1);
    /* #005032 */
}

.lightGreen {
    color: rgba(0, 150, 100, 1);
    /* #009664 */
}

.darkGreen {
    color: rgba(0, 80, 50, 1);
}
/* Navbar */

.panel {
    background-color: #fff;
}

.menu {
    background-color: #1D1F20;
    background-image: linear-gradient(145deg, #1D1F20, #404348);
}

a {
    color: #4B5;
    text-decoration: none;
}

.menu a {
    color: #fff;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-header {
    border-bottom: 1px solid #2a2d2f;
    padding: 20px 0 20px 20px;
    background-color: #1D1F20;
}

.menu-header-title {
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    font-size: 1.5em;
    color: rgba(0, 150, 100, 1);
}

.menu-section {
    margin: 25px 0;
}

.menu-section-title {
    text-transform: uppercase;
    color: #85888d;
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0 20px;
    margin: 0;
}

.menu-section-list {
    padding: 0;
    margin: 10px 10px;
    list-style: none;
}

.menu-section-list a {
    display: block;
    padding: 10px 20px;
}

.menu-section-list a:hover,
.menu-section-list a.active {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

.panel {
    padding-top: 5px;
    min-height: 100%;
}

.panel-header {
    margin: 85px auto 55px;
}
/* Searchbar */

#menuBar {
    text-align: right;
}

input[type=text]:focus,
textarea:focus {
    box-shadow: 0 0 3px rgba(0, 150, 100, 1);
}

.input-group .form-control {
    width: auto;
    float: right;
}
/* Slideout.js */

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 192px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    padding-right: 10px;
    padding-left: 10px;
}
/*.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}
*/

.slideout-open .slideout-menu {
    display: block;
}
/* NavBar Toggle Button */

#navbar-toggle {
    display: block;
    border-radius: 0;
    border: 0;
    color: rgba(0, 150, 100, 1);
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    z-index: 1000;
}

@media (min-width: 960px) {
    .slideout-menu {
        z-index: 2;
        display: block;
    }
    .slideout-panel {
        width: 80%;
        width: -moz-calc(100% - 192px);
        width: -webkit-calc(100% - 192px);
        width: calc(100% - 192px);
        left: 192px;
    }
    #navbar-toggle {
        display: none;
    }
}
/* Custom Button Styles */

.btn-dark {
    border-radius: 5px;
    border: 5;
    font-size: 1.2em;
    color: rgba(0, 150, 100, 1);
    border-color: rgba(0, 150, 100, 1);
    background-color: rgba(0, 150, 100, 0);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    border: 0;
    background-color: rgba(0, 150, 100, 1);
}

.btn-light {
    border-radius: 0;
    border: 0;
    color: grey;
    background-color: rgb(255, 255, 255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}
/*
 * Pre loader
 * http://connoratherton.com/loaders
 */

.preloader_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1010;
}

@-webkit-keyframes preloader {
    80% {
        -webkit-transform: scaley(0.3);
        transform: scaley(0.3);
    }
}

@keyframes preloader {
    80% {
        -webkit-transform: scaley(0.3);
        transform: scaley(0.3);
    }
}

.preloader > div {
    background-color: rgba(0, 150, 100, 1);
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    -webkit-animation: preloader 0.9s -0.5s infinite cubic-bezier(.11, .49, .38, .78);
    animation: preloader 0.9s -0.5s infinite cubic-bezier(.11, .49, .38, .78);
}

.preloader > div:nth-child(2),
.preloader > div:nth-child(4) {
    -webkit-animation-delay: -0.25s !important;
    animation-delay: -0.25s !important;
}

.preloader > div:nth-child(1),
.preloader > div:nth-child(5) {
    -webkit-animation-delay: 0s !important;
    animation-delay: 0s !important;
}
/* Datepicker */

.pika-button:hover {
    background: rgba(0, 80, 50, 1) !important;
}

.is-selected .pika-button {
    background: rgba(0, 150, 100, 1);
    box-shadow: inset 0 1px 3px rgba(0, 80, 50, 1);
}

.is-today .pika-button {
    color: rgba(0, 150, 100, 1);
}
/* Custom Modal */

.modal-content {
    padding: 0 10px 0 10px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.modal-header {
    border-bottom: 0;
}

.modal-header .close {
    color: #000;
    opacity: 0.5;
}

.modal-header .close:hover {
    opacity: 1;
}

.modal-title {
    font-size: 1.8 em;
    color: rgba(0, 80, 50, 1);
}

.modal-body a {
    line-height: 40px;
    color: #999;
}

.modal-body text {
    color: #000;
}

.modal-body input,
.modal-body input[readonly],
.modal-body input[readonly="readonly"] {
    background: #eee;
    border-radius: 2px;
    border: none;
    width: 100%;
    height: 40px;
    color: #000;
    margin-bottom: 20px;
    padding: 0 10px;
    line-height: 40px;
    transition: background .2s ease
}

.modal-body textarea,
.modal-body textarea[readonly],
.modal-body textarea[readonly="readonly"] {
    background: #eee;
    border-radius: 2px;
    border: none;
    color: #000;
    margin-bottom: 20px;
    padding: 0 10px;
    line-height: 40px;
    transition: background .2s ease
}

.modal-body input:hover,
.modal-body textarea:hover {
    background: #ddd;
}

.modal-body input:active,
.modal-body input:focus,
.modal-body textarea:active,
.modal-body textarea:focus {
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 80, 50, 0.5);
    -moz-box-shadow: 0 0 1px 1px rgba(0, 80, 50, 0.5);
    box-shadow: 0 0 1px 1px rgba(0, 80, 50, 0.5);
    background: transparent;
    outline: 0 none;
}

.modal-body input[readonly]:hover,
.modal-body input[readonly="readonly"]:hover,
.modal-body textarea[readonly]:hover,
.modal-body textarea[readonly="readonly"]:hover {
    background: #ddd;
}

.modal-body input[readonly]:active,
.modal-body input[readonly="readonly"]:active,
.modal-body input[readonly]:focus,
.modal-body input[readonly="readonly"]:focus,
.modal-body textarea[readonly]:active,
.modal-body textarea[readonly="readonly"]:active,
.modal-body textarea[readonly]:focus,
.modal-body textarea[readonly="readonly"]:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background: #ddd;
}
/*
.modal-body input:-webkit-autofill,
.modal-body input:-webkit-autofill:focus {
    -webkit-box-shadow: ;
    -webkit-text-fill-color: ;
} */

.modal-body .btn-dark {
    color: #000;
    border-color: #000;
}

.modal-body .btn-dark:hover,
.modal-body .btn-dark:active,
.modal-body .btn-dark:focus {
    color: #FFF;
    border: 5;
    border-color: rgba(0, 150, 100, 1);
    background-color: rgba(0, 80, 50, 1);
}
/*.modal-backdrop.in {
    opacity: .75;
}
*/

@media (max-width: 768px) {
    .modal-content {
        background-color: #1D1F20;
    }
    .modal-header .close {
        color: #fff;
    }
    .modal-title {
        color: #FFF;
    }
    .modal-body label,
    .modal-body p {
        color: #DDD;
    }
    .modal-body text {
        color: #FFF;
    }
    .modal-body input,
    .modal-body input[readonly],
    .modal-body input[readonly="readonly"] {
        color: #fff;
        background: #2a2d2f;
    }
    .modal-body textarea,
    .modal-body textarea[readonly],
    .modal-body textarea[readonly="readonly"] {
        color: #fff;
        background: #2a2d2f;
    }
    .modal-body input:hover,
    .modal-body textarea:hover {
        background: rgba(0, 80, 50, 0.3);
    }
    .modal-body input[readonly]:hover,
    .modal-body input[readonly="readonly"]:hover,
    .modal-body textarea[readonly]:hover,
    .modal-body textarea[readonly="readonly"]:hover {
        background: #2a2d2f;
    }
    .modal-body input[readonly]:active,
    .modal-body input[readonly="readonly"]:active,
    .modal-body input[readonly]:focus,
    .modal-body input[readonly="readonly"]:focus,
    .modal-body textarea[readonly]:active,
    .modal-body textarea[readonly="readonly"]:active,
    .modal-body textarea[readonly]:focus,
    .modal-body textarea[readonly="readonly"]:focus {
        background: #2a2d2f;
    }
    .modal-body .btn-dark {
        color: #FFF;
        border-color: #FFF;
    }
}
/* Glyphicon Effect */

.icon-enlarge {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding-bottom: 0.7em;
}

.icon-enlarge:before {
    position: absolute;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.icon-enlarge:hover:before,
.icon-enlarge:focus:before,
.icon-enlarge:active:before {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
/* Back to Top */

.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 3em;
    display: none;
    z-index: 1000;
    text-decoration: none;
    border: 5;
    color: rgba(0, 150, 100, 1);
}

.back-to-top .glyphicon {
    border-radius: 2em;
    background-color: #FFF;
}

.back-to-top:hover {
    color: rgba(0, 80, 50, 0.9);
}
/* Footer */

footer {
    color: #000;
    background-color: #EEE;
    padding-top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    z-index: 1000;
}

footer a {
    color: #FFF;
}

footer a:hover {
    color: #efefef;
    text-decoration: none !important;
}
