body {
    background-color: rgba(51, 54, 59, 0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(../img/backgroundminimal.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* Center Content */

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}

.container h1 {
    font-weight: bold;
    color: rgba(0, 80, 50, 1);
}
/* Modal */

.modal-dialog {
    max-width: 300px;
}
