/* Patients List Styles */

.patientsList {
    padding: 10px;
}

.patientsList li {
    list-style: none;
    background: rgba(0, 150, 100, 1);
    color: #fff;
    height: 0;
    line-height: 2em;
    margin: 0;
    padding: 0 0.5em;
    overflow: hidden;
    width: auto;
}

.patientsList li:nth-child(odd) {
    color: #000;
    background: #EEE;
}

.patientsList li.show {
    height: auto;
    margin: 2px 0;
}

.patientsList li .glyphicon {
    padding-top: 10px;
    padding-bottom: 10px;
}

.patientsList li a .glyphicon {
    font-size: 1.2em;
}

.patientsList li:nth-child(even) a .glyphicon {
    color: #FFF;
}

.patientsList li:nth-child(odd) a .glyphicon {
    color: #000;
}

.patientsList .slide-fade li {
    transition: all 0.4s ease-out;
    opacity: 0;
}

.patientsList .slide-fade li.show {
    opacity: 1;
}
/* Name Effect */

.patientsList li a.profileName .glyphicon {
    padding-left: 2em;
}

.patientsList li a.profileName .glyphicon:hover {
    padding-left: 2.5em;
}

.patientsList li a.profileName .glyphicon:before {
    left: 1em;
}
/* Email Icon Effect */

.patientsList li a.alertEmail .glyphicon {
    padding-right: 2em;
}

.patientsList li a.alertEmail .glyphicon:before {
    right: 1em;
}
/* Modal Styles */

#viewUserModal button {
    border: 0;
    background-color: transparent;
}
