<!DOCTYPE html>
<html lang="">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="{%static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{%static 'css/common.css'%}">
    <!-- jQuery -->
    <script src="{%static 'js/jquery-2.1.1.min.js'%}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <!-- Slideout.js -->
    <script src="{%static 'js/slideout.min.js'%}"></script>
    <!--  Font -->
    <script src="http://use.edgefonts.net/source-sans-pro.js"></script>
    <!-- Custom Initialization Script -->
    <script src="{%static 'js/init.js'%}"></script>
    <!-- HighCharts -->
    <script src="{%static 'js/highcharts.js'%}"></script>
    <script src="{%static 'js/data.js'%}"></script>
    <script src="{%static 'js/exporting.js'%}"></script>
    <script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide-full.min.js"></script>
    <script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide.config.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="http://www.highcharts.com/media/com_demo/highslide.css" />
</head>

<body>
    <section>
        <!-- NavBar -->
        <nav id="menu" class="menu">
            <header class="menu-header">
                <span class="menu-header-title">FitWhiz</span>
            </header>
            <section class="menu-section">
                <ul class="menu-section-list">
                    <li><a href="/doctorsView/dashboard" class="active">Dashboard</a>
                    </li>
                </ul>
            </section>
            <section class="menu-section">
                <h3 class="menu-section-title">Patients</h3>
                <ul class="menu-section-list">
                    <li><a href="/doctorsView/addPatient">Add Patients</a>
                    </li>
                    <li><a href="/doctorsView/viewUsers">View Patients</a>
                    </li>
                </ul>
            </section>
            <section class="menu-section">
                <ul class="menu-section-list">
                    <li><a href="/doctorsView/settings">Settings</a>
                    </li>
                </ul>
            </section>
            <section class="menu-section">
                <ul class="menu-section-list">
                    <li><a href="doctorsView/logout">Logout</a>
                    </li>
                </ul>
            </section>
        </nav>
    </section>
    <!-- End NavBar -->
    <!-- Content -->
    <section id="content" class="panel">
        <!-- Header -->
        <header id="header">
            <button id="navbar-toggle" class="js-slideout-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i>
            </button>
            <div id="menuBar">
                <div>
                    <form role="search" method="get" action="getUserByLastName">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Last Name" name="searchTerm">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </header>
        <!-- End Header -->
        <!-- Charts -->
        <br>
        <div class="">
            <h1 class="lightGreen"><center>Charts</center></h1>
            <div id="container_graph1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        <!-- End Charts -->
    </section>
    <a href="#" class="back-to-top" title="Back to Top"><i class="glyphicon glyphicon-circle-arrow-up"></i></a>
    <!-- End Content -->
    <script>
    $(document).ready(function() {
        // setInterval(function() {
        var options1 = {
            chart: {
                renderTo: 'container_graph1',
                type: 'line'
            },
            xAxis: {
                type: 'datetime'
            },
            title: {
                text: 'Temperature for Existing Patients'
            },
            /*  series: [{
                  name: '',
                  data: []
              }]*/
        };

        $.getJSON('doctorsView/getUsersData', function(data) {
            var jsonRes = JSON.parse(data);
            var chart1;
            data1 = [];
            var c = 0;
            u_series = [];
            for (i = 0; i < jsonRes.length; i++) {
                if (u_series.indexOf(jsonRes[i].user_id) == -1) {
                    u_series.push(jsonRes[i].user_id);
                    //count++;
                }
            }
            chart1 = new Highcharts.Chart(options1);
            for (j = 0; j < u_series.length; j++) {
                data1 = [];
                for (i = 0; i < jsonRes.length; i++) {
                    if (u_series[j] == jsonRes[i].user_id) {
                        data1.push([Date.parse(jsonRes[i].x), parseInt(jsonRes[i].y)]);
                        data1.sort();
                    }
                }
                chart1.addSeries({
                    name: u_series[j],
                    data: data1
                }, false);
            }
            chart1.redraw();
        });
        //  }, 5000);
    });
    </script>
</body>

</html>
