<!DOCTYPE html>
<html lang="">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Patients</title>
    <!-- Bootstrap CSS -->
    <link href="{%static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Sweetalert CSS -->
    <link href="{%static 'css/sweetalert.min.css'%}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" ztype="text/css" href="{%static 'css/common.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/viewusers.css'%}">
    <script src="http://use.edgefonts.net/source-sans-pro.js"></script>
</head>

<body>
    <section>
        <!-- NavBar -->
        <nav id="menu" class="menu">
            <header class="menu-header">
                <span class="menu-header-title">FitWhiz</span>
            </header>
            <section class="menu-section">
                <ul class="menu-section-list">
                    <li><a href="/doctorsView/dashboard">Dashboard</a></li>
                </ul>
            </section>
            <section class="menu-section">
                <h3 class="menu-section-title">Patients</h3>
                <ul class="menu-section-list">
                    <li><a href="/doctorsView/addPatient">Add Patients</a></li>
                    <li><a href="/doctorsView/viewUsers" class="active">View Patients</a></li>
                </ul>
            </section>
            <section class="menu-section">
                <ul class="menu-section-list">
                    <li><a href="/doctorsView/settings">Settings</a>
                    </li>
                </ul>
            </section>
            <section class="menu-section">
                <ul class="menu-section-list">
                    <li><a href="doctorsView/logout">Logout</a></li>
                </ul>
            </section>
        </nav>
        <!-- End NavBar -->
    </section>
    <!-- Content -->
    <section id="content" class="panel">
        <!-- Header -->
        <header id="header">
            <button id="navbar-toggle" class="js-slideout-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
            <div id="searchBar">
                <form role="search" method="get" action="getUserByLastName">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Last Name" name="searchTerm">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </header>
        <!-- End Header -->
        <!-- Registration Form -->
        <br>
        <div class="">
            <h1 class="lightGreen"><center>Patients List</center></h1>
            <hr>
            <div class="patientsList">
                <section class="slide-fade">
                    {% for user in users %}
                    <li class="show" data-id={{user.email}}>
                        <a class="profileName" data-toggle="modal" data-firstname={{user.first_name}}&nbsp; data-lastname={{user.last_name}}&nbsp; data-dob={{user.dob}}&nbsp; data-address={{user.address}}&nbsp; data-gender={{user.gender}}&nbsp; data-maritalstatus={{user.marital_status}}&nbsp; data-height={{user.height}}&nbsp; data-weight={{user.weight}}&nbsp; data-bloodtype={{user.blood_type}}&nbsp; data-phone={{user.phone_number}}&nbsp;>
                            <i class="glyphicon glyphicon-user icon-enlarge">&nbsp;{{ user.last_name }}&#44;&nbsp;{{ user.first_name }}</i>
                        </a>
                        <div class="pull-right">
                            <a href="viewUserChart?email={{user.email}}">
                                <i class="glyphicon glyphicon glyphicon-picture icon-enlarge"></i>
                            </a>
                            <a class="alertEmail " data-toggle="modal">
                                <i class="glyphicon glyphicon-comment icon-enlarge"></i>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </section>
            </div>
        </div>
        <!-- End Registration Form -->
    </section>
    <!-- Patient Modal -->
    <div id="viewUserModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">&times;</button>
                    <h3 class="modal-title text-center" id="profileName"></h3>
                    <!-- Tabs -->
                    <!-- <div id="userTabs" class="col-xs-offset" style="padding-top: 40px">
                        <ul class="nav nav-tabs">
                            <li class="nav active"><a href="#UserDetails" data-toggle="tab">Details</a></li>
                            <li class="nav"><a href="#userAllergies" data-toggle="tab">Allergies</a></li>
                            <li class="nav"><a href="#userVaccinations" data-toggle="tab">Vaccinations</a></li>
                        </ul>
                    </div> -->
                </div>
                <div class="modal-body">
                    <!-- Tab1 -->
                    <div id="UserDetails" class="tab-pane fade in active">
                        <br>
                        <div class="row">
                            <label class="col-xs-4 col-sm-3">First Name</label>
                            <text id="profileFirstName" class="col-xs-8 col-sm-9"></text>
                        </div>
                        <div class="row">
                            <label class="col-xs-4 col-sm-3">Last Name</label>
                            <text id="profileLastName" class="col-xs-8 col-sm-3"></text>
                        </div>
                        <div class="row">
                            <label class="col-xs-4 col-sm-3">Email</label>
                            <text id="profileEmail" class="col-xs-8 col-sm-9"></text>
                        </div>
                        <div class="row">
                            <label class="col-xs-4 col-sm-3">D.O.B</label>
                            <text id="profileDOB" class="col-xs-8 col-sm-9"></text>
                        </div>
                        <div class="row">
                            <label class="col-xs-4 col-sm-3">Address</label>
                            <text id="profileAddress" class="col-xs-8 col-sm-9"></text>
                        </div>
                        <div class="row">
                            <label class="col-xs-4 col-sm-3">Gender</label>
                            <text id="profileGender" class="col-xs-8 col-sm-9"></text>
                        </div>
                        <div class="row">
                            <label class="col-xs-4 col-sm-3">Marital Status</label>
                            <text id="profileMaritalStatus" class="col-xs-8 col-sm-9"></text>
                        </div>
                        <div class="row">
                            <label class="col-xs-4 col-sm-3">Height</label>
                            <text id="profileHeight" class="col-xs-8 col-sm-9"></text>
                        </div>
                        <div class="row">
                            <label class="col-xs-4 col-sm-3">Weight</label>
                            <text id="profileWeight" class="col-xs-8 col-sm-9"></text>
                        </div>
                        <div class="row">
                            <label class="col-xs-4 col-sm-3">Blood Group</label>
                            <text id="profileBloodType" class="col-xs-8 col-sm-9"></text>
                        </div>
                        <div class="row">
                            <label class="col-xs-4 col-sm-3">Phone</label>
                            <text id="profilePhone" class="col-xs-8 col-sm-9"></text>
                        </div>
                    </div>
                    <!-- Tab2 -->
                    <div id="userAllergies" class="tab-pane fade">
                    </div>
                    <!-- Tab3 -->
                    <div id="userVaccinations" class="tab-pane fade">
                    </div>
                    <!-- Buttons -->
                    <div class="pull-right">
                        <button class="text-success" title="Edit Patient Details"><i class="glyphicon glyphicon-pencil icon-enlarge"></i>&emsp;&emsp;</button>
                        <button id="deletePatient" class="text-danger" title="Delete Patient"><i class="glyphicon glyphicon-trash icon-enlarge"></i></button>
                        <!-- <form method="post">
                            {% csrf_token %}
                            <button class="text-danger pull-right" title="Delete Patient" type="submit" onsubmit="test()"><i class="glyphicon glyphicon-trash icon-enlarge"></i>
                            </button>
                        </form> -->
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <!-- End Patient Modal -->
    <!-- Alert Modal -->
    <section id="alert" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">&times;</button>
                    <h3 class="modal-title text-center text-warning">Send Message</h3>
                </div>
                <div class="modal-body">
                    <!-- Alert Message -->
                    <form id="alertForm" action="doctorsView/alertUser" class="form-horizontal" method="POST" role="form">
                        {% csrf_token %}
                        <input type="email" class="form-control" name="email" id="modalEmail" placeholder="Email" value="" readonly="readonly">
                        <br>
                        <div class="form-group">
                            <label for="message" class="col-xs-3 col-sm-3">Message</label>
                            <textarea rows="4" class="col-xs-8 col-sm-6" name="message" id="message" class="form-control" value="" title="message" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-dark pull-right" value="">Send Alert</button>
                        <br>
                    </form>
                    <!-- End Alert Message -->
                    <h3 class="modal-title text-center hidden" id="alertMessage"></h3>
                </div>
                <br>
            </div>
        </div>
    </section>
    <!-- End Alert Modal -->
    <a href="#" class="back-to-top" title="Back to Top"><i class="glyphicon glyphicon-circle-arrow-up"></i></a>
    <!-- End Content -->
    <!-- jQuery -->
    <script src="{%static 'js/jquery-2.1.1.min.js'%}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <!-- Slideout.js -->
    <script src="{%static 'js/slideout.min.js'%}"></script>
    <!-- Sweetalert.js -->
    <script src="{%static 'js/sweetalert.min.js'%}"></script>
    <!-- Custom Initialization Script -->
    <script src="{%static 'js/init.js'%}"></script>
    <script type="text/javascript">
    $(function() {
        $("li").click(function() {
            e.stopPropagation();
        }).on('click', '.profileName', function(e) {
            $('#viewUserModal').on('show.bs.modal', function(e) {
                var email = $(event.target).closest('li').data('id');
                genericEmail = email;
                var profile = $(event.target).closest('a');
                $('#profileName').text(profile.data('lastname') + ", " + profile.data('firstname'));
                $('#profileFirstName').text(profile.data('firstname'));
                $('#profileLastName').text(profile.data('lastname'));
                $('#profileEmail').text(email);
                $('#profileDOB').text(profile.data('dob'));
                $('#profileAddress').text(profile.data('address'));
                $('#profileGender').text(profile.data('gender'));
                $('#profileMaritalStatus').text(profile.data('maritalstatus'));
                $('#profileHeight').text(profile.data('height'));
                $('#profileWeight').text(profile.data('weight'));
                $('#profileBloodType').text(profile.data('bloodtype'));
                $('#profilePhone').text(profile.data('phone'));
            })
            $("#viewUserModal").modal('show');
        }).on('click', '.alertEmail', function(e) {
            $('#alert').on('show.bs.modal', function(e) {
                var email = $(event.target).closest('li').data('id');
                $("#modalEmail").val(email);
                $("#message").val('');
            })
            $("#alert").modal('show');
            $('#viewUserModal').modal('hide');
            $('#alertForm').show();
            $('#alertMessage').addClass('hidden');
        });
    });
    // Alert form
    $('#alertForm').on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            cache: false,
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function(data) {
                $('#alertForm').hide();
                $('#alertMessage').removeClass('hidden').addClass('text-success').text(data.result);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $('#alertMessage').removeClass('hidden').addClass('text-danger').text('Status: ' + textStatus + '<br>Error: ' + errorThrown);
            }
        });
    });
    // Tab Navigation
    $('#userTabs a').click(function() {
        $(this).tab('show');
        console.log($(this).closest('#viewUserModal').find('#profileEmail').text());
        $.getJSON("loadAllergies?email=" + $(this).closest('#viewUserModal').find('#profileEmail').text(), function(response) {
            // To Do
        });
    });

    // Delete Patient
    $('#deletePatient').on('click', function(e) {
        sweetAlert({
            title: "Are you sure you want to delete this Patient?",
            text: "You will not be able to recover information!",
            showCancelButton: true,
            confirmButtonColor: "#009664",
            confirmButtonText: "Yes!",
            closeOnConfirm: false,
            html: false
        }, function() {
            url = "deleteUser?email=" + $("#profileEmail").text();
            $.ajax({
                type: "POST",
                cache: false,
                url: url,
                success: function(data) {
                    swal({
                        title: "Deleted!",
                        text: "Patient is removed",
                        type: "success"
                    }, function() {
                        window.location.reload();
                    });
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    swal("Failure!",
                        "Service Error",
                        "warning");
                }
            });
        });
    });
    </script>
</body>

</html>
