<!DOCTYPE html>
<html lang="">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FitWhiz</title>
    <!-- Bootstrap CSS -->
    <link href="{%static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{%static 'css/common.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/index.css'%}">
</head>

<body>
    <!-- Content -->
    <div class="container text-center">
        <!-- Center Content-->
        <h1 class="text-center">FitWhiz<br><small>Wearables for Improved Healthcare and Consumer Experiences</small></h1>
        <button id="loginButton" class="btn btn-primary btn-dark">Login</button>
        <!-- End Center Content-->
    </div>
    <!-- End Content -->
    <!-- Login Modal -->
    <section id="login" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">&times;</button>
                    <h3 class="modal-title text-center lightGreen" id="modaltitle">Login</h3>
                </div>
                <div class="modal-body">
                    <!-- Login Form -->
                    <div id="loginform">
                        <form action="doctorsView/login" class="form-horizontal" method="POST" role="form">
                            {% csrf_token %}
                            <input type="email" class="form-control" name="email" placeholder="Email">
                            <br>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                            <br>
                            <button type="submit" class="btn btn-primary btn-dark pull-right" value=""><i class="glyphicon glyphicon-arrow-right"></i></button>
                            <a id="loginformbutton" href="#passwordform">Forgot Password?</a>
                            <br>
                        </form>
                    </div>
                    <!-- End Login Form -->
                    <!-- Password Form -->
                    <div id="passwordform" class="hidden">
                        <form action="" class="form-horizontal" method="POST" role="form">
                            {% csrf_token %}
                            <input type="email" class="form-control" name="email" placeholder="Email">
                            <br>
                            <button type="submit" class="btn btn-primary btn-dark pull-right" value=""><i class="glyphicon glyphicon-arrow-right"></i></button>
                            <a id="passwordformbutton" href="#loginform">Login</a>
                            <br>
                        </form>
                    </div>
                    <!-- End Password Form -->
                </div>
                <br>
            </div>
        </div>
    </section>
    <!-- End Login Modal -->
    <!-- jQuery -->
    <script src="{%static 'js/jquery-2.1.1.min.js'%}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script type="text/javascript">
    $(function() {
        $("#loginButton").click(function() {
            $("#login").modal('show');
        });
        $('#loginformbutton').click(function() {
            $('#modaltitle').text('Forgot Password');
            $('#loginform').addClass('hidden');
            $('#passwordform').removeClass('hidden');
        });
        $('#passwordformbutton').click(function() {
            $('#modaltitle').text('Login');
            $('#loginform').removeClass('hidden');
            $('#passwordform').addClass('hidden');
        });
    });
    </script>
</body>

</html>
