<html>
<head></head>
<body>
<form method="post" action="addUserAllergies">
{% csrf_token %}
Email:<input type="text" name="email"></input>
<input type="checkbox" name="allergy" value="Skin">Skin 1</input>
<input type="checkbox" name="allergy" value="Food">allergy 2</input>
<input type="checkbox" name="allergy" value="allergy3">allergy 3</input>
<input type="submit"/>
</form>
<form method="post" action="deleteUser">
{% csrf_token %}
Email:<input type="text" name="email"></input>
<input type="submit" name="delete"/>
</form>

<form method="post" action="deleteUserAllergy">
{% csrf_token %}
Allergy:<input type="text" name="allergy_name"></input>
Email:<input type="text" name="email"></input>
<input type="submit" name="update" value="update Allergy"/>
</form>


<form method="post" action="login">
{% csrf_token %}
Email:<input type="text" name="email"></input>
password:<input type="text" name="password"></input>
<input type="submit" name="Login" value="Login"/>

</form>

<form method="post" action="logout">
{% csrf_token %}
<input type="submit" name="Logout" value="Logout"/>

</form>

</body>
</html>