<!DOCTYPE html>
<html lang="">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logout</title>
    <!-- Bootstrap CSS -->
    <link href="{%static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{%static 'css/logout.css'%}">
    <script src="http://use.edgefonts.net/source-sans-pro.js"></script>
</head>

<body>
    <div class="container">
        <div class="center text-center">
            <h1>You're logged out</h1>
            <hr>
            <a class="btn btn-logout" href="/">Go to Homepage</a>
        </div>
    </div>
</body>

</html>
