<html>
<head>
 <script>
    function getLocalUserName(){
    document.getElementById('email').value=localStorage.getItem('patient_email');
    }
    </script>
</head>
<body onload="getLocalUserName()">
<form method="post" action="addUserVaccination">
{% csrf_token %}
Email:<input type="text" name="email" id="email"></input>
<textarea name="vaccination"></textarea>
<input type="date"  name="date_visited" id="date_visited" title="Date Visited"  placeholder="mm/dd/yyyy">

<input type="submit"/>
</form>
</body>
</html>