<!DOCTYPE html>
<html lang="">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Patients</title>
    <!-- Bootstrap CSS -->
    <link href="{%static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{%static 'css/common.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/viewusers.css'%}">
</head>

<body>
    <!-- NavBar -->
    <nav id="menu" class="menu">
        <header class="menu-header">
            <span class="menu-header-title">FitWhiz</span>
        </header>
        <section class="menu-section">
            <ul class="menu-section-list">
                <li><a href="#">Home</a></li>
            </ul>
        </section>
        <section class="menu-section">
            <h3 class="menu-section-title">Patients</h3>
            <ul class="menu-section-list">
                <li><a href="/doctorsView">Add Patients</a></li>
                <li><a href="/doctorsView/viewUsers" class="active">View Patients</a></li>
            </ul>
        </section>
    </nav>
    <!-- End NavBar -->
    <!-- Content -->
    <div id="content" class="panel">
        <!-- Header -->
        <header id="header">
            <button id="navbar-toggle" class="js-slideout-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
            <div id="searchBar">
                <form role="search" method="get" action="getUserByLastName">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Last Name" name="searchTerm">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </header>
        <!-- End Header -->
        <!-- Registration Form -->
        <br>
        <div class="container">
            <h1 class="lightGreen"><center>Patients List</center></h1>
            <hr>
            <div class="patientsList">
                <section class="slide-fade">
                    {% for user in users %}
                    <li class="show" data-toggle="modal" data-id={{user.last_name}}>
                        <p><i class="glyphicon glyphicon-user">&nbsp;{{ user.last_name }}&#44;&nbsp;{{ user.first_name }}</i>
                        </p>
                    </li>
                    {% endfor %}
                </section>
            </div>
        </div>
        <!-- End Registration Form -->
        <!-- Patient Modal -->
        <div id="viewUserModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">&times;</button>
                        <h3 class="modal-title text-center text-warning" id="profileName"></h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <span class="glyphicon glyphicon-user"></span>&nbsp;
                            <span class="glyphicon glyphicon-earphone"></span>&nbsp;
                            <span class="glyphicon glyphicon-comment"></span>
                            <p id="profileDesc" class="text-muted"></p>
                        </div>
                        <div>
                            <button class="text-danger pull-right" title="Edit Patient Details"><i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button class="text-success pull-right" title="Delete Patient"><i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- End Patient Modal -->
    </div>
    <!-- End Content -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>
                &copy; 2015 FitWhiz.
            </p>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- jQuery -->
    <script src="{%static 'js/jquery-2.1.1.min.js'%}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <!-- Slideout.js -->
    <script src="{%static 'js/slideout.min.js'%}"></script>
    <!-- Custom Initialization Script -->
    <script src="{%static 'js/init.js'%}"></script>
    <script type="text/javascript">
    $(function() {
        $("li").click(function() {
            $('#viewUserModal').on('show.bs.modal', function(e) {
                var lastName = $(event.target).closest('li').data('id');
                $('#profileName').text(lastName);
                $('#profileDesc').text('Patient Details.')
            })
            $("#viewUserModal").modal('show');
        });

    });
    </script>
</body>

</html>
