<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmpe.alpha.fitwhiz" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".lib.FitwhizApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".controllers.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".controllers.DashboardActivity"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name=".controllers.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".controllers.common.ScheduledDataUploadService" >
        </receiver>

        <!--For Mobile Sensors-->
        <!--<service
            android:name=".controllers.common.SensorService"
            android:enabled="true" />-->

        <activity
            android:name=".controllers.LoginFailureActivity"
            android:label="@string/title_activity_login_failure" >
        </activity>

        <!--Sensor Tag-->
        <service
            android:name="com.example.ti.ble.common.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name="cmpe.alpha.fitwhiz.sensortag.MainActivity"
            android:label="@string/sensortag_title"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="cmpe.alpha.fitwhiz.sensortag.DeviceActivity"
            android:parentActivityName=".sensortag.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="cmpe.alpha.fitwhiz.sensortag.FwUpdateActivity"
            android:parentActivityName=".sensortag.DeviceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="cmpe.alpha.fitwhiz.sensortag.FileActivity"
            android:parentActivityName=".sensortag.FwUpdateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="cmpe.alpha.fitwhiz.sensortag.PreferencesActivity"
            android:parentActivityName=".sensortag.DeviceActivity"
            android:screenOrientation="portrait"
            android:label="Preferences"/>
    </application>

</manifest>
